.now{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
    text-overflow: ellipsis;
}

.now1{
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(60, 60, 60);
}

